@import './src/styles';

.container {
  margin-top: 4rem;
}

@media (max-width: 990px){
  .city-form    {
    padding: 4rem !important;
  }
}

.city-form {
  background-color: $main-color;
  text-align: center;
  padding: 10rem 2rem;
  input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    color: white;
    padding: .5rem;
    margin-left: 3rem;
    width: 60%;
  }
}

.weather-info {
  background-color: turquoise;
  text-align: center;
  padding: 5rem 7rem;
  opacity: 0.7;
}

.title {
  color: white;
  font-size: $large-font;
  margin: auto auto 4rem;
}

.icon {
  padding: 1rem;
  font-size: $large-font;
  vertical-align: middle;
}

.search {
  padding: 1rem;
  font-size: $medium-font;
  vertical-align: middle;
  color: white !important;
}

.city-name {
  color: white;
  font-size: $medium-font;
  margin: auto auto 4rem;
}

.weather {
  margin: auto;
  width: 20rem;
  .desc {
    font-size: $medium-font;
    margin: 1rem 4rem;
  }
  .w-info {
    font-size: $medium-font;
    padding: 1rem;
  }
}
